body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-image: none ;
}

header {
    background-color: #099e20;
    color: #ffffff;
    padding: 20px 0;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #14ec00;
    border-radius: 20px;
    color: #fff;
}
.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.card{
    width:325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;
}
.card img{
    width:280px;
    height: auto;
    margin: 20px;
}
.card-content{
    padding:16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color:#666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding:8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color:#fff;
}

/* PRODUCT */

.product{
    padding-top: 20px;
}

/* ABOUT */
.title-about{
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
.about-kartu{
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: absolute;
}